
@{
    ViewBag.Title = "Administer Test";
}

<h2>@ViewBag.Title</h2>

<div class="panel panel-default">
    <div class="panel-heading"><h3>Test for @ViewBag.StudentName</h3></div>
    <!--Test Builder will go here-->
    <div class="panel-body">
        <!--Loop through each step in the testing process-->
        <div data-bind="foreach: steps">
            <h4 data-bind="text: name, visible: hidden">Section names go here</h4>
            <div class="form-horizontal">
                <!--Loop through each question-->
                <div data-bind="foreach: questions, visible: hidden">
                    <div data-bind="visible: hidden" class="form-group">
                        <label data-bind="text: label" class="control-label col-md-2">Question labels go here</label>
                        <div class="col-md-10">
                            <div class="panel panel-primary">
                                <div data-bind="text: text" class="panel-heading text-center">Questions go here</div>
                                <div class="panel-body">
                                    <div data-bind="text: answer, attr: { for: fieldName }" class="answer row text-center">Answers go here</div>
                                    <br>
                                    <div class="form-group">
                                        <label class="col-sm-1 control-label required">Score</label>
                                        <div class="col-sm-3" data-bind="click: saveScore">
                                            <div><input type="radio" data-bind="checked: score, attr: { name: id }, checkedValue : 1" /> 1</div>
                                            <div><input type="radio" data-bind="checked: score, attr: { name: id }, checkedValue : 2" /> 2</div>
                                            <div><input type="radio" data-bind="checked: score, attr: { name: id }, checkedValue : 3" /> 3</div>
                                            <div><input type="radio" data-bind="checked: score, attr: { name: id }, checkedValue : 4" /> 4</div>
                                            <div><input type="radio" data-bind="checked: score, attr: { name: id }, checkedValue : 5" /> 5</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-footer">
                                    <button data-bind="click: $parent.generateNewQuestion" class="btn btn-default btn-sm"><i class="fa fa-refresh" aria-hidden="true"></i> New Question</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <h4 data-bind="text: name, visible: hidden">Section names go here</h4>
            <div data-bind="visible: hidden" class="text-right">
                <button data-bind="click: nextQuestion" class="btn btn-primary">Next Question <i class="fa fa-arrow-down" aria-hidden="true"></i></button>
            </div>
        </div>
    </div>
    <div class="panel-footer clearfix">
        <div data-bind="if: previousVisible" style="float: left;">
            <button data-bind="click: previousSection" class="btn btn-primary"><i class="fa fa-arrow-left" aria-hidden="true"></i> Previous Section</button>
        </div>
        <div data-bind="if: submitVisible" style="float: right;">
            <button data-bind="click: finalSubmission" class="btn btn-primary">Final Submission <i class="fa fa-gavel" aria-hidden="true"></i></button>
        </div>
        <div data-bind="if: nextVisible" style="float: right;">
            <button data-bind="click: nextSection" class="btn btn-primary">Next Section <i class="fa fa-arrow-right" aria-hidden="true"></i></button>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Did the student pass?</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <div class="col-sm-3">
                        <div><input type="radio" data-bind="checkedValue : 1" /> Yes</div>
                        <div><input type="radio" data-bind="checkedValue : 0" /> No</div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-bind="click: finalSubmitTest">Save changes</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script type="text/javascript">
    var viewModelData = @Html.Raw(ViewBag.ViewModel);
</script>

@section Scripts {
    @Scripts.Render("~/Scripts/Tests/TestBuilder.js")
    @Scripts.Render("~/Scripts/Tests/administer-test.js")
}