@model SoftwareEngineering1Project.Models.Question

@{
    ViewBag.Title = "Edit Question";
}

<h2>
    @ViewBag.Title
    
    <a action="action" class="btn btn-primary btn-sm" style="float: right;" value="Back" onclick="history.go(-1);">
        <i class="fa fa-arrow-left"></i> Go Back
    </a>
</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)

        <div class="form-group">
            <label class="control-label col-md-2">Section</label>
            <div class="col-md-10">
                @Html.DropDownList("SectionID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.SectionID, "", new { @class = "text-danger" })
            </div>
        </div>

        @Html.Hidden("ProfileID", null, htmlAttributes: new { @class = "form-control", @value = ViewBag.ProfileID })

        <div class="form-group">
            @Html.LabelFor(model => model.Text, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Text, new { @id = "questionEditor" })
                @Html.ValidationMessageFor(model => model.Text, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Answer, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Answer, new { @id = "answerEditor" })
                @Html.ValidationMessageFor(model => model.Answer, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<script>
    CKEDITOR.replace('questionEditor');
    CKEDITOR.replace('answerEditor');
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
