<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Dept. of Computing - Oral Exit Exam</title>
    <link rel="icon" href="~/Content/Images/duck-silhouette-image.png">
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/base/css")
	@Styles.Render("~/Content/select2")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryDataTables")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/toastr")
    @Scripts.Render("~/bundles/bootstrap")    
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/jqueryui")
	@Scripts.Render("~/bundles/select2")
    <script src="@Url.Content("~/Scripts/ckeditor/ckeditor.js")"></script>
    @RenderSection("scripts", required: false)

</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Dept. of Computing - Oral Exit Exam", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
                @Html.Partial("_LoginPartial")
        </div>
    </div>
    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="collapse navbar-collapse" id="app-navbar-collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/Home/Contact"><i class="fa fa-envelope"></i> Contact</a>
                    </li>
                    @if (User.IsInRole("sysadmin"))
                    {
                        <li>
                            <a href="/Profile">
                                <i class="fa fa-user" aria-hidden="true"></i> User Management
                            </a>
                        </li>
                    }
                    @if (User.IsInRole("professor"))
                    {
                        <li>
                            <a href="/Student">
                                <i class="fa fa-user" aria-hidden="true"></i> Students
                            </a>
                        </li>
                        <li>
                            <a href="/teacher">
                                <i class="fa fa-graduation-cap" aria-hidden="true"></i> Teachers
                            </a>
                        </li>
                        <li>
                            <a href="/course">
                                <i class="fa fa-book" aria-hidden="true"></i> Courses
                            </a>
                        </li>
                        <li>
                            <a href="/Questions">
                                <i class="fa fa-question" aria-hidden="true"></i> Questions
                            </a>
                        </li>
                        <li>
                            <a href="/tests">
                                <i class="fa fa-university" aria-hidden="true"></i> Tests
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>

    <div class="container body-content">
        <div id="messages">
            @Html.Partial("_FlashMessengerPartial")
        </div>

        @RenderBody()
        <hr />
        <footer class="text-center">
            <p>&copy; @DateTime.Now.Year - Software Engineering 1 - Team Loon</p>
        </footer>
    </div>
</body>
</html>
